@charset "utf-8";
/* Author: Olivier Maridat (Trialog) */
/* Creation Date : 30/09/2011 */

body {
margin: 0;
padding: 0;
text-align: center;
font-size: 0.9em;
color: black;
font-family: Tahoma, Verdanna, Arial, Serif;
}
header,footer,article,section{display: block;}

/* --- Titres --- */
h1, h2, h3, h4, h5, h6 {
margin: 1em 0 .5em 0;
}
h1, h2 {
font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
font-weight: normal;
}
h1 {
font-size: 3em;
font-style: italic;
}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 1em;}
/* -- Fin titres -- */

/* --- Liste --- */
ul{
margin: 5px auto;
}
ul, ul li{
text-align: left;
}
/* -- Fin listes -- */

#profil {
text-align: left;
}
}
	